[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlmodel = "*"
dependency_injector = "*"
structlog = "*"
pydantic_settings = "*"
asyncpg = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
mypy = "*"
ruff = "*"
faker = "*"
aiosqlite = "*"

[requires]
python_version = "3.11"
