[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlmodel = "*"
dependency_injector = "*"
structlog = "*"
pydantic_settings = "*"
asyncpg = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
